
        .logo {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .logo-img {
            height: 60px;
            width: 60px;
            display: flex;

        }
    
        .logo2 {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .logo-img2 {
            height: 70px;
            width: 70px;
            display: flex;

        }
        
        .nav-links a.active {
            color: var(--primary-color);
        }

        .nav-links a.active::after {
            width: 100%;
        }  
